@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap");

// color
$dark-purple: #7879f1;
$purple: #a5a6f6;
$lavender: #cdb4db;
$light-pink: #ffc8dd;
$pink: #ffafcc;
$light-blue: #bde0fe;
$baby-blue: #a2d2ff;
$skip-blue: #4d9ce4;
$light-gray: #d3d3d3;
$input-gray: #f1f1f1;
$background: #f6f6fe;

// fonts
$poppins: "Poppins", sans-serif;
$work-sans: "Work Sans", sans-serif;
