.parentDiv {
    position: relative;
width: 375px;
height: 812px;

background: #F6F6FE;
}

.group {
position: absolute;
left: 90.93%;
right: 5.87%;
top: 5.42%;
bottom: 93.1%;

background: #000000;

}

.top {
position: absolute;
width: 392px;
height: 317px;
left: -13px;
top: -12px;

background: rgba(165, 166, 246, 0.43);
border-radius: 12px;


}

.header {
position: absolute;
width: 278px;
height: 70px;
left: 49px;
top: 178px;

font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
text-align: center;
letter-spacing: -0.02em;

color: #000000;
}

.form {

position: absolute;
width: 420px;
height: 462px;
left: -24px;
top: 305px;

background: #FFFFFF;
border-radius: 12px;
}

.button {
/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 234px;
height: 43px;
left: 71px;
top: 614px;

background: #A5A6F6;
border-radius: 12px;
}
