@import "./variables";
$dashboard: "../../assets/dashboard.png";

.dashboard {
  display: flex;

  &__body {
    height: 100vh;
    width: 100vw;
  }
  &__content {
    height: 90vh;
  }
}

.footer {
  padding: 0.5em;
  margin-top: auto;
  position: sticky;
  padding-inline: 1em;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__icon {
    margin: 0.5em;
    &:hover {
      fill: green;
      transform: scale(1.5);
    }
  }
  &__home {
    position: absolute;
    top: 10px;
  }
  &__budget {
    position: absolute;
    bottom: 12px;
  }
  &__goals {
    position: absolute;
    bottom: 11px;
  }
}
