.image {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  p {
    width: 75vw;
    margin-left: 2em;
  }
  &__input {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    z-index: 15;
    &-add {
      position: absolute;
      transform: scale(3);
      bottom: 10px;
      right: 15px;
      cursor: pointer;
    }
  }
  &__input-wrapper {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 2.5em;
  }
  &__input-add-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
  }
  &__image {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
  }
}
