$makeup-image: "../../assets/makeup.png";
$clothing-image: "../../assets/shopping.png";
$finance-image: "../../assets/coin.png";
$food-image: "../../assets/cookbook.png";
$pets-image: "../../assets/hockey.png";
$technology-image: "../../assets/hair.png";
$travel-image: "../../assets/umbrella.png";
$music-image: "../../assets/music.png";
$gardening-image: "../../assets/gardening.png";

.interest {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-left: 0.5em;

  &__image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.5em;
    box-shadow: 0px 0px 2px 0px rgba(black, 0.5);
  }

  &__image-container {
    display: flex;
    text-align: center;
    font-family: $work-sans;
    font-size: 12px;
  }
  &__image-container-row {
    position: relative;
  }
}
.makeup {
  background-image: url($makeup-image);
}

.clothing {
  background-image: url($clothing-image);
}

.food {
  background-image: url($food-image);
}

.finance {
  background-image: url($finance-image);
}
.pets {
  background-image: url($pets-image);
}

.technology {
  background-image: url($technology-image);
}

.travel {
  background-image: url($travel-image);
}

.music {
  background-image: url($music-image);
}

.gardening {
  background-image: url($gardening-image);
}

%interest-check {
  color: #4bd37b;
  position: absolute;
  transform: scale(1.5);
}

.icon {
  &__fashion {
    @extend %interest-check;
    right: 1em;
    top: 15em;
  }
  &__makeup {
    @extend %interest-check;
    right: 1em;
    top: 5.5em;
  }
  &__food {
    @extend %interest-check;
    right: 1em;
    top: 24.5em;
  }
  &__pets {
    @extend %interest-check;
    right: 1em;
    top: 5.5em;
  }
  &__tech {
    @extend %interest-check;
    right: 1em;
    top: 15em;
  }
  &__finance {
    @extend %interest-check;
    right: 1em;
    top: 24.5em;
  }
  &__travel {
    @extend %interest-check;
    right: 1em;
    top: 5.5em;
  }
  &__music {
    @extend %interest-check;
    right: 1em;
    top: 15em;
  }
  &__gardening {
    @extend %interest-check;
    right: 1em;
    top: 24.5em;
  }
}
