.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  &__navigation {
    transform: scale(0.4);
    display: flex;
    justify-content: center;
    &-icon {
      padding-inline: 1em;
      padding-block: 0.5em;
    }
  }
  &__return-icon {
    margin-top: 3em;
  }
  &__body {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    border-radius: 10%;
    padding-block: 0.5em;
    padding-inline: 1em;
  }
}

.current {
  color: grey;
}
